[submodule "releases/etc/portage/default/overlays/enomem"]
	path = releases/etc/portage/default/overlays/enomem
	url = https://github.com/antirs/enomem-overlay
[submodule "releases/etc/portage/default/overlays/enomem-static"]
	path = releases/etc/portage/default/overlays/enomem-static
	url = https://github.com/antirs/enomem-overlay
	branch = origin/dev/enomem/static
[submodule "releases/etc/portage/default/overlays/enomem-mirage"]
	path = releases/etc/portage/default/overlays/enomem-mirage
	url = https://github.com/antirs/enomem-overlay
	branch = origin/dev/enomem/mirage
[submodule "tools/external/catalyst/default"]
	path = tools/external/catalyst/default
	url = https://github.com/antirs/catalyst
	branch = origin/master
[submodule "tools/external/catalyst/virtual/docker/minimal"]
	path = tools/external/catalyst/virtual/docker/minimal
	url = https://github.com/antirs/catalyst.git
	branch = origin/dev/antirs/minimal-docker-image
