subarch: amd64
target: stage3
version_stamp: t420-hardened-openrc-${TIMESTAMP}
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: enomem:devices/notebook/amd64/lenovo/thinkpad/t420/hardened/stage3
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-enomem/stage1-amd64-t420-hardened-openrc-latest.tar.xz
compression_mode: pixz
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-enomem/t420/hardened/stage3-amd64
