subarch: amd64
target: stage3
version_stamp: qemu-base-nomultilib-static-openrc-${TIMESTAMP}
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: enomem:virtual/qemu/amd64/base/no-multilib/static/stage3
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-enomem/stage1-amd64-qemu-base-nomultilib-static-openrc-latest.tar.xz
compression_mode: pixz
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-enomem/virtual/qemu/stage3-amd64
