subarch: armv6j
target: stage1
version_stamp: openrc-${TIMESTAMP}.bootstrap
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: enomem:default/arm/armv6j/sf/stage1
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-default/stage3-armv6j-openrc-latest.tar.xz
compression_mode: pixz
#update_seed: no
update_seed: yes
#update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y @world
update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y --usepkg --buildpkg --binpkg-respect-use=y @world
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-enomem/arm/armv6j/stage1-armv6j
