subarch: armv6j
target: stage3
version_stamp: rapi-zerow-openrc-${TIMESTAMP}.bootstrap
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: enomem:devices/soc/arm/armv6j/rapi/zerow/sf/stage3
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-enomem/stage1-armv6j-rapi-zerow-openrc-latest.bootstrap.tar.xz
compression_mode: pixz
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${PKGCACHE_PATH}
