subarch: armv6j_hardfp
target: stage3
version_stamp: openrc-${TIMESTAMP}
rel_type: 23.0-default
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: default/linux/arm/23.0/armv6j_hf
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-default/stage1-armv6j_hardfp-openrc-latest.tar.xz
compression_mode: pixz
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${PKGCACHE_PATH}
