subarch: rv64_lp64d
target: stage1
version_stamp: openrc-${TIMESTAMP}.bootstrap
rel_type: 23.0-default
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: default/linux/riscv/23.0/rv64/lp64d
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-default/stage3-rv64_lp64d-openrc-latest.tar.xz
compression_mode: pixz
#update_seed: no
update_seed: yes
#update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y @world
update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y --usepkg --getbinpkg --buildpkg n --binpkg-respect-use=y @world
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${PKGCACHE_PATH}
