subarch: amd64
target: stage3
version_stamp: nomultilib-hardened-fortify3-openrc-${TIMESTAMP}.bootstrap
rel_type: 23.0-test
repos: ${REPO_ROOT}/portage/overlays/enomem
profile: enomem:default/amd64/no-multilib/hardened/fortify3/stage3
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-test/stage1-amd64-nomultilib-hardened-fortify3-openrc-latest.bootstrap.tar.xz
compression_mode: pixz
portage_confdir: ${REPO_ROOT}/portage/23-test/stage3
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-test/hardened/fortify3/stage3-amd64
