subarch: amd64
target: stage3
version_stamp: openrc-${TIMESTAMP}.bootstrap
rel_type: 23.0-default
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: default/linux/amd64/23.0
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-default/stage1-amd64-openrc-latest.bootstrap.tar.xz
compression_mode: pixz
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${PKGCACHE_PATH}
