subarch: amd64
target: stage1
version_stamp: hardened-openrc-${TIMESTAMP}
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/portage/overlays/enomem
profile: enomem:default/amd64/hardened/stage1
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-enomem/stage3-amd64-hardened-openrc-latest.bootstrap.tar.xz
compression_mode: pixz
#update_seed: no
update_seed: yes
#update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y @world
update_seed_command: --update --deep --newuse --complete-graph y --with-bdeps y --usepkg --buildpkg --binpkg-respect-use=y @world
portage_confdir: ${REPO_ROOT}/portage/23-enomem/stage1
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-enomem/hardened/stage1-amd64
