subarch: amd64
target: stage1
version_stamp: docker-nomultilib-minimal-static-openrc-${TIMESTAMP}
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: enomem:virtual/docker/amd64/no-multilib/minimal/static/stage1
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-default/stage3-amd64-nomultilib-openrc-latest.tar.xz
compression_mode: pixz
update_seed: yes
update_seed_command: --update --newuse --complete-graph y --with-bdeps y --ignore-world y app-shells/dash
#update_seed_command: --update --newuse --complete-graph y --with-bdeps y --getbinpkg --buildpkg n --usepkg --binpkg-respect-use y app-shells/dash
#update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y @world
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${PKGCACHE_PATH}
