subarch: amd64
target: stage3
version_stamp: t440p-openrc-${TIMESTAMP}.bootstrap
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/portage/overlays/enomem
profile: enomem:devices/notebook/amd64/lenovo/thinkpad/t440p/stage3
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-enomem/stage1-amd64-t440p-openrc-latest.bootstrap.tar.xz
compression_mode: pixz
portage_confdir: ${REPO_ROOT}/portage/23-enomem/stage3
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-enomem/t440p/stage3-amd64
