subarch: amd64
target: stage1
version_stamp: t440p-hardened-static-openrc-${TIMESTAMP}
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/portage/overlays/enomem
profile: enomem:devices/notebook/amd64/lenovo/thinkpad/t440p/hardened/static/stage1
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-enomem/stage3-amd64-t440p-hardened-static-openrc-latest.bootstrap.tar.xz
compression_mode: pixz
#update_seed: no
update_seed: yes
#update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y @world
update_seed_command: --update --deep --newuse --complete-graph y --with-bdeps y --usepkg --buildpkg --binpkg-respect-use=y @world
portage_confdir: ${REPO_ROOT}/portage/23-enomem/stage1
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-enomem/t440p/hardened/stage1-amd64
