subarch: amd64
target: stage1
version_stamp: t440p-static-openrc-${TIMESTAMP}.bootstrap
rel_type: 23.0-enomem
repos: ${REPO_ROOT}/etc/portage/default/overlays/enomem
profile: enomem:devices/notebook/amd64/lenovo/thinkpad/t440p/static/stage1
snapshot_treeish: ${TREEISH}
source_subpath: 23.0-default/stage3-amd64-openrc-latest.tar.xz
compression_mode: pixz
#update_seed: no
update_seed: yes
#update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y @world
update_seed_command: --update --deep --newuse --emptytree --complete-graph y --with-bdeps y --usepkg --buildpkg --binpkg-respect-use=y @world
portage_confdir: ${PORTAGE_CONFDIR}
portage_prefix: releng
pkgcache_path: ${REPO_ROOT}/var/tmp/catalyst/packages/23.0-enomem/t440p/stage1-amd64
